<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IpgWebServiceExporterServiceSoapBinding">
                  <security
                    mode="Transport">
                    <transport
                      clientCredentialType="Certificate"/>
                  </security>
                </binding>
                <binding name="IpgWebServiceExporterServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint 
              address="https://85.133.186.11:7878/ipgapp/services/IPGService"
              binding="basicHttpBinding"
              bindingConfiguration="IpgWebServiceExporterServiceSoapBinding"
              contract="MyIPGServiceReference.IPGService"
              name="IPGServicePort" />
        </client>     
    </system.serviceModel>
</configuration>
